.line{
    width:50px;
    height: 5px;
    background:red;
 
}
#services h1{
    color: black;
    font-size: 2.5rem;
    display: inline-block;
    max-width: 50%;
}
#services h1 span{
    color: black;
    font-size: 2.5rem;
    display: block;
}
#services p {
    color: black;
    font-size: 1.5rem;
    display: inline-block;
    max-width: 25%;
    left: 0;
    top: 129px;
    max-width:35%;
    position: absolute;
}
#services p span{
    color: black;
    font-size: 1.5rem;
    display: block;
}


/*Laptops*/
@media only screen and (max-width: 1215px){

  
}
/*tablets*/
@media only screen and (max-width: 1023px){
   
      }
@media only screen and (max-width: 767px){
    .line {
        width: 50px;
        height: 5px;
        background: red;
        position: relative;
        left: 28px;
    }
    #services h1 {
        color: black;
        font-size: 2.5rem;
        display: inline-block;
        max-width: 100%;
        position: relative;
        left: 27px;
    }
    #services p {
        color: black;
        font-size: 1.5rem;
        display: inline-block;
        max-width: 25%;
        left: 28px;
        top: 140px;
        max-width: 90%;
        position: absolute;
    }

 }