/* #services{
    background: #FF8E0D;
height: 700px;
}

.line{
    width:50px;
    height: 5px;
    background:red;
 
}
#services h1{
    color: black;
    font-size: 2.5rem;
    display: inline-block;
    max-width: 50%;
}
#services h1 span{
    color: black;
    font-size: 2.5rem;
    display: block;
}
#services p {
    color: black;
    font-size: 1rem;
    display: inline-block;
    max-width: 25%;
    left: 0;
    top: 129px;
    max-width:25%;
    position: absolute;
}
#services p span{
    color: black;
    font-size: 1rem;
    display: block;
}
#services .owner img{
    width:350px;
    height: 350px;
    border: 4px solid white;
    float:right;
    border-radius: 50%;
    top:-121px;
    position: relative;
  
}
.signature h4 {
    position: relative;
    color: white;
    left: 930px;
    font-size: 1.2rem;
    top: 240px;
    font-family: 'Dancing Script', cursive;
}


/*Laptops*/
@media only screen and (max-width: 1215px){

  
}
/*tablets*/
@media only screen and (max-width: 1023px){
    .line {
        width: 29px;
        height: 5px;
        background: red;
        position: relative;
        left: 28px;
    }
    #services h1 {
        color: black;
        font-size: 2rem;
        display: inline-block;
        max-width: 100%;
        position: relative;
        left: 27px;
    }
    #services h1 span {
    font-size: 2rem;
    }
    #services p {
        color: black;
        font-size: 1rem;
        display: inline-block;
        max-width: 70%;
        left: 28px;
        /* text-align: center; */
        top: 140px;
        position: absolute;
    }
    #services .owner img {
        display: none;
    }
    .signature h4 {
 display: none;
    }
 
   
      }
@media only screen and (max-width: 767px){
    .line {
        width: 29px;
        height: 5px;
        background: red;
        position: relative;
        left: 28px;
    }
    #services h1 {
        color: black;
        font-size: 2rem;
        display: inline-block;
        max-width: 100%;
        position: relative;
        left: 27px;
    }
    #services h1 span {
    font-size: 2rem;
    }
    #services p {
        color: black;
        font-size: 1rem;
        display: inline-block;
        max-width: 70%;
        left: 28px;
        /* text-align: center; */
        top: 140px;
        position: absolute;
    }
    #services .owner img {
        display: none;
    }
    .signature h4 {
 display: none;
    }
 

 } */